{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container">
  <div class="card p-4 mx-auto mt-4" style="max-width: 400px;">
    <h4>Sign Up</h4>
    <form id="signupForm" method="POST">
      <input type="text" name="username" class="form-control mb-2" placeholder="Username">
      <input type="email" name="email" class="form-control mb-2" placeholder="Email">
      <input type="password" name="password" class="form-control mb-3" placeholder="Password">
      <button class="btn btn-primary w-100">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}
